/* :root{
    --background: #1e1e1e;
    --text: #fff;
    --theme-primary: #333;
    --font_family_heading: "Impact", sans-serif;
    --font_family_primary: "Open Sans", sans-serif;
    --font_size_base: 1rem;
} */
html {
	scroll-behavior: smooth;
	height: 100%;
	width: 100%;
	background-color: var(--background) !important;
	color: var(--text) !important;
    overflow-x: hidden !important;
    transition: all 0.5s ease-in-out;
}
body {
    max-width: 100% !important;
    background-color: var(--background) !important;
	color: var(--text) !important;
	font-family: var(--font_family) !important;
    font-size: var(--font_size_base) !important;
    letter-spacing: 0.06rem;
    line-height: calc(1 + 0.8 / var(--font_body_scale));
    font-style: var(--font_body_style);
    font-weight: var(--font_body_weight);
    word-break: break-word;
}
.container{
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font_family_heading) !important;
    color: var(--text);
    font-weight: var(--font_heading_weight);
    letter-spacing: calc(var(--font_heading_scale) * .06rem);
    line-height: calc(1 + .3 / max(1, var(--font_heading_scale)));
    word-break: break-word;
}
h1{
    font-size: var(--font_size_h1) !important;
}
h2{
    font-size: var(--font_size_base) !important;
    color: var(--primary_color);
}
h3{
    font-size: var(--font_size_h3) !important;
    color: var(--accent_color)
}
h4{
    font-size: var(--font_size_h4) !important;
}
.spacer{
    width: 100%;
    margin: auto;
}
nav, #nav, .navbar-default, .navbar-static-top{
    background-color: var(--theme-transparent) !important;
    background-image: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#nav{
    position: fixed;
    top: 0;
    margin: 0 !important;
    padding: 1.5rem 2rem;
    width: 100%;
    
}
.navbar-toggler{
    display: none !important;
    float: right;
    max-width: fit-content;
}
.navbar-brand{
    margin: 1rem !important;
    color: var(--text) !important;
    text-shadow: none;
}
.btn-secondary{
    color: var(--text) !important;
    background: transparent !important;
    font-size: var(--font_size_h3);
    border: none;
    &:hover{
        background: var(--primary_color) !important;
        color: var(--accent_color) !important;
    }
}

.btn-primary{
    background: var(--primary_color) !important;
    color: var(--text) !important;
    font-size: var(--font_size_h4);
    border: none;
    &:hover{
        background: var(--accent_color) !important;
    }
}

.btn{
    border-radius: 0 !important;
    padding: 1rem 3rem !important;
    margin: 0.5rem 0 !important;
    transition: all 0.5s ease-in-out;
    box-shadow: none !important;
}
.btn:hover{
    transform: scale(1.05)
}

#power{
    display: flex;
    color: var(--primary_color) !important;
    font-size: var(--font_size_small);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    width: 100%;
    margin: auto !important;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    &.row{
        flex-direction: row;
        width: fit-content;
    }
    &.column{
        flex-direction: column;
        height: fit-content;
    }
    &.center{
        justify-content: center;
        align-items: center;
    }
    &.spread{
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

@media screen and (max-width: 1000px){
    #nav{
        display:  none;
    }
    body{
        font-size: var(--font_size_small);
    }
    .flex{
        &.row.swap{
            flex-direction: column;
        }
        &.column.swap{
            flex-direction: row;
        }
    }
}
